.editor__main,
.editor__toolbar {
	position: fixed;
	inset: 0;
	contain: strict;
}

.editor__toolbar {
	--peek-size: 3rem;

	pointer-events: none;
	overflow: clip scroll;
	scroll-snap-type: y mandatory;
	scroll-snap-stop: always;
	scrollbar-width: none;
}

.editor__toolbar::before {
	/* U+200B Zero-Width Space https://symbl.cc/en/200B/
	 */
	content: "\200b";
	display: block;
	height: calc(100% - var(--peek-size));
	scroll-snap-align: start;
}

.editor__toolbar__card {
	box-sizing: border-box;
	height: 100%;
	padding: 1rem;
	scroll-snap-align: end;
	pointer-events: visible;
	corner-shape: squircle;
	animation-name: kfToolbarCorners;
	animation-timing-function: ease-in;
	animation-timeline: scroll(block nearest);
	background: lightgray;
}

@keyframes kfToolbarCorners {
	0%, 95% { border-radius: var(--peek-size) var(--peek-size) 0 0; }
	100% { border-radius: 0 0 0 0; }
}

@media (orientation: landscape) {
	.editor__toolbar {
		left: 60%;
	}
}

@media (pointer: fine) and (hover: hover) {
	.editor {
		position: fixed;
		inset: 0;
		display: grid;
		grid-template-columns: auto 25%;
	}

	.editor__main,
	.editor__toolbar {
		position: static;
	}

	.editor__toolbar {
		overflow: revert;
		scroll-snap-type: revert;
	}

	.editor__toolbar::before {
		content: none;
	}

	.editor__toolbar__card {
		animation: none;
	}
}
