.graph-editor {
	position: relative;
	overflow: clip;
	contain: strict;
}

.graph-editor__view {
	touch-action: none;
	user-select: none;
}

.graph-editor,
.graph-editor__view {
	width: 100%;
	height: 100%;
}
